* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #333;
}

body {
  color: #e0e0e0;
  background: #333;
}

.create-btn {
  margin-top: 2rem;
  padding: .5rem;
}

.form-container {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: auto;
}

.form-container input {
  grid-column: 2/3;
  margin-bottom: 1rem;
  padding: .6rem;
}

.name-input {
  margin-top: 2rem;
}

.submit-btn {
  padding: .5rem;
}